.wrapper {
  position:absolute;
  top:25%;
  left:25%;
  display: table;
  width: auto;
  background-color: #eee;
  border: 0.5px solid lightgray;
  border-spacing: 5px;
}

.common_table {
  position: relative;
  width: 320px;
  padding: 10px;
  background-color: white;
  border: 0.5px solid lightgray;
  margin: 0;
}

.submit {
  background-color: #323232;
  border-style: solid;
  border-radius: 3px;
  border-width: 0.5px;
  color: white;
  padding: 4px 7px;
}

.cancel {
  background-color: #7E7E7E;
  border-style: solid;
  border-radius: 3px;
  border-width: 0.5px;
  color: white;
  padding: 4px 5px;
}

.action_btn {
 text-align: center;
}

.popup {
  background-color: #00FF7F;
  color: black;
  border-radius: 9px;
  border: 0.5px solid #00FF7F;
  text-align: center;
  margin: 10px 300px;

}

.list_add:before {
  content:"\002b";
  color: white;
  border: 0.5px solid lightgray;
  padding: 0px 3px;
  font-size: 14px;
  background-color: #7E7E7E;
}

.list_cancel:before {
  content: '\2716';
  color: white;
  border: 0.5px solid lightgray;
  padding: 1px 4px;
  font-size: 15px;
  background-color: #7E7E7E;
  font-weight: 300;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: none;
}
