* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* FONT PATH
* -------------------------- */
@font-face {
  font-family: "FontAwesome";
  font-weight: normal;
  font-style : normal;
         src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0");
         src : url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0") format("embedded-opentype"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0") format("woff2"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0") format("woff"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0") format("truetype"),
               url("http://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular") format("svg");
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

a {
  text-decoration: none;
}

.wrapper {
  display: table;
  width: auto;
  background-color: #eee;
  border-spacing: 5px;
  padding: 10px;
}

.common_table {
  position: relative;
  width: 320px;
  padding: 10px;
  background-color: white;
  border: .5px solid lightgray;
  margin-bottom: 1rem;
}

th {
  text-align: left;
}

input[type=text]{
  padding: 4px 8px;
  margin: 8px 0;
  box-sizing: border-box;
}

select {
  height: 25px;
}

input[type=submit]{
  padding: .5rem 1.5rem;
  margin: .5rem 0;
  box-sizing: border-box;
  color: white;
  border-width: 0.5px;
  border-radius: 6px;
}


.submit {
  background-color: #323232;
}

.cancel {
  background-color: #7E7E7E;
}

.list_add {
  margin: 10px;
}

.list_add:before {
  font-family: FontAwesome;
  content: "\f0fe";
  color: #666;
  margin-right: 5px;
 }

 .list_cancel:before {
  font-family: FontAwesome;
  content: "\f2d3";
  color: #666;
}

.action_btn {
 text-align: center;
}

.popup {
  color: black;
  border-radius: 9px;
  border: .5px solid #00FF7F;
  background-color: #8EF1A0;
  text-align: center;
  width: 30%;
  padding: 10px;
  margin: 16px auto;
}
